.home > header {
    background: url('../img/hero.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;

    .shadow {
        background: rgba(0, 0, 0, 0.5);

        .hero-area {
            height: calc(100% - 96px);

            .hero-area-content {
                text-align: center;
                width: 100%;

                .bttn {
                    padding: 8px 15px;
                    background: $primary-color;
                    display: inline-block;
                    border-radius: 3px;
                    margin-top: 7px;
                }
            }
        }
    }
}

.feature-area {
    .feature-area-item {
        text-align: center;

        .img-wrapper {
            margin: 0 auto;
            width: 100px;

        }

        h4 {
            margin: 15px 0px 0px;
        }
    }
}

.teacher-area {
    background: #f1f1f1;

    .teacher-area-item {
        text-align: center;

        .img-wrapper {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .name {
            margin: 15px 0px 0px;
        }

        .title {
            font-size: 14px;
        }
    }
}

.notice-area {
    .notice-area-content {
        .notice-item {
            display: flex;
            align-items: flex-start;
            margin-top: 15px;

            .date {
                padding: 15px 15px 13px;
                background: $secondary-color;
                color: white;
                border-radius: 5px;
                margin-top: 5px;
                text-align: center;

                p {
                    margin: 0px;
                }
            }

            .notice-body {
                margin-left: 15px;

                .more {
                    color: $secondary-color;
                }
            }
        }
    }
}

footer {
    background: url('../img/pattern2.png');

    .shadow {
        background: rgba(170, 204, 3, 0.9);

        .info {
            display: flex;
    
            .logo {
                width: 100px;
            }
    
            .address {
                margin-left: 25px;
            }
        }
    
        .social {
            li {
                margin-top: 7px;
                
                a {
                    height: 40px;
                    width: 40px;
                    background: #77cc77;
                    display: block;
                    line-height: 40px;
                    text-align: center;
                    color: white;
                    border-radius: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        .shadow {
            .hero-area {
                .hero-area-content {
                    .bttn {
                        padding: 8px 20px;
                    }
                }
            }
        }
    }
}